* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, #ff5733, #ffc300, #3b5998, #1e7d22);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo h1 {
    font-size: 2em;
}

nav button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #0056b3;
}

.main-section {
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content-container,
.second-content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.image-wrapper {
    border: 5px solid #007BFF;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-right: 20px;
}

.image-wrapper:hover {
    transform: scale(1.02);
}

.image-1,
.image-2 {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.text-container {
    max-width: 600px;
}

.text-container h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.text-container p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.second-content {
    flex-direction: row-reverse;
}

.footer-section {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #007BFF;
}

.map-preview {
    background-color: rgba(173, 216, 230, 0.8);
    border: 2px solid #00f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
}

.map-preview h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.map-preview p {
    font-size: 16px;
}

.iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.coming-soon {
    background-color: #f8f9fa;
    padding: 40px;
    text-align: center;
}

.coming-soon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coming-soon-image {
    max-width: 300px;
    margin-top: 20px;
}

#chatbot-container {
    margin: 40px 0;
    text-align: center;
}

.chatbot {
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.chatbot h3 {
    margin-bottom: 10px;
}

.chatbot p {
    line-height: 1.5;
}

/* Estilos para a barra de pesquisa */
.search-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    position: relative;
}

.search-bar {
    flex: 1;
    padding: 15px;
    border: 2px solid #007BFF;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    background-color: white;
}

.search-bar:focus {
    border-color: #0056b3;
    outline: none;
}

.search-icon {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.search-icon:hover {
    background-color: #0056b3;
}

.information-text {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: -20px auto 20px;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.information-text h3 {
    font-size: 1.8em;
    color: #ff5733;
    margin-bottom: 10px;
}

.information-text p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

.coming-soon {
    background-color: #f8f9fa;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.coming-soon-content {
    display: flex;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    gap: 30px;
}

.coming-soon-text {
    width: 50%;
    color: #333;
}

.coming-soon-text h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.coming-soon-image {
    width: 40%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.coming-soon-image:hover {
    transform: scale(1.03);
}

.footer-section {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #007BFF;
}

@media (max-width: 768px) {
    .coming-soon {
        padding: 40px 10px;
        text-align: center;
    }

    .coming-soon-content {
        flex-direction: column;
        align-items: center;
    }

    .coming-soon-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .coming-soon-text h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .coming-soon-text p {
        font-size: 16px;
        line-height: 1.5;
    }

    .coming-soon-image {
        width: 80%;
        max-width: 300px;
    }

    .footer-section {
        font-size: 14px;
    }
}
.map-preview {
    background-color: transparent; /* Remover o fundo azul */
    border: none; /* Garantir que não tenha borda */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px auto; /* Ajustar a margem para se aproximar do texto */
    width: 95%; /* Aumentar a largura para 95% */
    max-width: 1200px; /* Aumentar o máximo para 1200px */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Adicionando mais profundidade */
}

.map-preview {
    background-color: transparent; /* Remover o fundo azul */
    border: none; /* Garantir que não tenha borda */
    border-radius: 10px;
    padding: 20px; /* Este padding é o espaço interno */
    text-align: center;
    margin: 20px auto; /* Ajustar a margem para se aproximar do texto */
    width: 100%; /* Para ocupar 100% do espaço disponível */
    max-width: 1200px; /* Ajustar o máximo para ser um pouco maior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Adicionando mais profundidade */
}

/* Ajustar o iframe para ocupar toda a largura */
.map-preview iframe {
    width: 100%; /* Ajustar para 100% da largura da .map-preview */
    height: 450px; /* Manter a altura desejada */
    border: none; /* Remover a borda do iframe */
}


/* Robô*/

/* Robô minimizado - Ícone redondo */
.robot-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    z-index: 1;
    background-color: white;
}

/* Caixa de chat */
.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 200;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Cabeçalho do chat */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Imagem redonda no header */
#robo-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: solid black 0.8px;

}

.header-robot-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.chat-content {
    padding: 15px;  
}

.chat-content p {
    margin-bottom: 250px;
}

.chat-content input {
    width: 80%;
    height: 25px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #101010;
    margin-bottom: 10px;
}

#send-btn-img{
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
}


.send-btn {
    padding: 6px;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

/* Estado minimizado */
.minimized .chat-box {
    display: none;
}

.minimized .robot-icon {
    display: block;
}

#robot-assistant {
    width: 100px; /* Tamanho do robô */
    height: 100px; /* Tamanho do robô */
    position: absolute; /* Para permitir movimento livre */
    cursor: move; /* Cursor de movimento para indicar que é arrastável */
    /* Outros estilos, como fundo, borda, etc. */
}

